
button {
    height:  75px;
    width: 200px;
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    height:  100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow:auto;
}

.popup-content {
    background-color: #80ced6;
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

#block4 {
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h1 {
    text-align: center;
}

#closePopup {
    background-color: #ff30a9;
}

body {
    background-color: #555555;
}

.text {
    color: white;
}