<launch>
  <param name="file_path" value="$(find colostomy-care)/config" />
  
  <!-- ARUCO MARKER DETECTOR -->
  <rosparam command="load" file="$(find colostomy-care)/config/stretch_marker_dict.yaml" />
  <node name="detect_aruco_markers" pkg="stretch_core" type="detect_aruco_markers" output="screen"/>
  <!-- -->

  <!-- COLOSTOMY CARE -->
  <node name="navigation_node" pkg="colostomy-care" type="navigation.py" output="screen"/>
  <node name="saved_poses_node" pkg="colostomy-care" type="saved_poses.py" output="screen"/>
  <node name="teleop_node" pkg="colostomy-care" type="teleop.py" output="screen"/>
  <node name="aruco_navigation_node" pkg="colostomy-care" type="aruco_navigation.py" output="screen"/>
</launch>
